<div class="row">
    <div class="col">
        <h4>Usuários</h4>
    </div>
</div>
<br>
<div class="row">
    <div class="col">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>E-mail</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<hr>
<div class="row">
    <div class="col">
        <a href="/users/create" class="btn btn-primary">Cadastrar Usuário</a>
    </div>
</div>
